<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">  
    <title>About Us-Restaurant</title>
    <link rel="stylesheet"href="styke.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html"
class="active">About Us</a>
            <a href="menu.html">Menu</a>
            <a href="contact.html">Contact</a>
        </nav>
   </header>

   <section class="about">
    <h1>About Our Restaurant</h1>
    <img src="restaurant.jpg"
alt="Restaurant Image"
class="about-img">
    <p>
    Welcome to <strong>SpiceHub</strong>,where taste meets tradition.
    We serve freshly prepared dishes inspired by authentic falovrs,
    ensuring every meal is a memorable experiance.
    </p>
   </section>
   <footer>
     <p> 2025 SpiceHub Restaurant.All Rights Reserved.</p>
   </footer>
</body>
</html>   




